<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <header class="encabezado">
        <h1>Calculadora básica con Flask</h1>
        <nav class="menu">
            <a href="/suma">Suma</a>
            <a href="/resta">Resta</a>
            <a href="/multiplicacion">Multiplicacion</a>
            <a href="/division">Division</a>
        </nav>
    </header>

    <main class="contenedor">
        <section class="tarjeta operacion">
            <h2>Suma</h2>
            <form method="POST">
                <label for="numero1">Primer número:</label>
                <input type="number" step="any" name="numero1" required>
                
                <label for="numero2">Segundo número:</label>
                <input type="number" step="any" name="numero2" required>

                <button type="submit">Calcular</button>
            </form>

            {% if resultado is not none %}
                <p class="resultado">Resultado: {{ resultado }}</p>
            {% endif %}
        </section>
    </main>
</body>
</html>